body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 45px;
  box-sizing: border-box;
}
